body
{
    font-style:italic;
    color: green;
    background-color: rgb(124, 80, 124);
}

#contenedor{
    width: 100%;

}

#contenido {
    float: right;
    width: 80%;
    margin: auto;
    background-color: white;
}
    
#h2, p ,img{
    margin-left: 20px;
}

#menu{
    float: left;
    width: 20%;
}

#menu a {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(241, 202, 202);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
a:hover{font-weight: bold;}