body
{
    font-style:italic;
    color: green;
    background-color: white;
}
#contenido {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    }

#integrantes h2 {
    color:rgb(88, 33, 88);
    height: auto;
}